.tablecustom {
    td,
    th {
        padding: 5px !important;
        margin-left: 5px;
        border: 1px solid #D5DBDB !important;
        text-align: center;
    }
    thead {
        padding: 0px !important;
        background-color: #F8F9F9;
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        color: black;
    }
}
.first-row-check{
    padding: 5px !important;
    margin-left :5px;
    border: 1px solid #D5DBDB !important;
    vertical-align: top;
    text-align: center;
}
